.card {
    border: 8px solid #602b2b;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
    background-color: #7129ba;
    font-family: sans-serif;
}

.scoreLine {
    color: navy;
    font-size: 20px; 
    font-weight: bold;
    margin: 0 0 8px 0;
}

.statusText{
    color: #e3ece4;
    font-size: 14px;
    margin: 0;
}