.refreshButton{
  background-color:blue;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.live{
  max-width: 600px;
  margin: 20px auto;
  border-radius: 0;
  padding: 4px 4px;
  background-color: green;
  color: white;
}

.upcoming{
  max-width: 600px;
  margin: 20px auto;
  border-radius: 0;
  padding: 4px 4px;
  background-color: grey;
  color: black;
}

.final{
  max-width: 600px;
  margin: 20px auto;
  border-radius: 0;
  padding: 4px 4px;
  background-color: grey;
  color: black;
}